server:
  port: 8083

spring:
  application:
    name: notification-service

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.holydev.notificationservice.event

#Configure MailTrap
  mail:
    host: live.smtp.mailtrap.io
    port: 587
    username: api
    password: 31af3a3f9ede14b2223ceeaac3c7e668
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: true